/* LAB ASSIGNMENT 1*/
body {
    background-image: url("home_images/image12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .header {
    font-family: crossorigin;
    background-color: hsla(17, 95%, 43%, 0.937);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .image {
    display: inline-block;
    text-align: left;
    width: 50px;
    margin-right: 30px;
  }
  .words {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding-top: 10px;
  }
  .head1 {
    vertical-align: top;
    font-size: 30px;
    color: aqua;
    font-style: italic;
    margin-bottom: 0;
  }
  .paragraph1 {
    margin-top: 10px;
    margin-right: 50px;
  }
  .logo {
    width: 100px;
    border-radius: 100px;
  }
  nav {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #890b1c;
    color: #fff;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  nav ul li a {
    color: hsla(0, 0%, 100%, 0.758);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  nav ul li a:hover {
    background-color: hsl(60, 21%, 42%);
  }
  
    .wmain{
        color:hsl(182, 78%, 46%);
        font-family:cursive;
        font-size: 30px;
        font-weight: bold;
        padding-left:425px;
        padding-top: 10px;
        margin-bottom: 20px;
    
    }
    .I{
        width: 400px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
    }
    .II{
      vertical-align: top;
      margin-left:20px;
        width: 400px;
        display: inline-block;
    }
    .III{
      margin-top:0px;
      vertical-align: top;
        width: 400px;
        display: inline-block;
    }
    .Iheader{
      text-align:left;
      color:purple;
      font-family:cursive;
      font-size:20px;
    }
.shoppers{
  border-radius: 100px;
}
.IIshoppers{
  margin-left:15px;
  margin-top: 0px;;
}
.descripshop{
  
  font-family:cursive;

}
.IIshop{
  font-family:cursive;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
th {
  background-color: #009879;
  color: #ffffff;
  text-transform: uppercase;
}
tr:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.IIIpara{
  text-align:left;
  color:purple;
  font-family:cursive;
  font-size:20px;
}
.footer{
        
  background-color:#890b1c ;
    }
    .last-para{
      color:white;
      text-align: center;
      padding-top: 10px;
      padding-bottom:10px;
    }